.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border-radius: 100%;
}

.board__section {
    flex: 0 0 50%;
    height: 300px;
}

.board__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: $background-color;
}

.green {
    border-top-left-radius: 100%;
    background: $button-green-color;
}

.red {
    border-top-right-radius: 100%;
    background: $button-red-color;
}

.blue {
    border-bottom-right-radius: 100%;
    background: $button-blue-color;
}

.yellow {
    border-bottom-left-radius: 100%;
    background: $button-yellow-color;
}

.is-hidden {
    display: none;
}