.btn {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
    line-height: 50px;
    border-radius: $border-radius;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .1s ease;

    &--primary {
        background-color: $secondary-color;

        &:hover {
            background-color: darken($secondary-color, 15);
        }
    }
}