.header {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icons {
        display: flex;

        h4 {
            margin-left: 2rem;
            cursor: pointer;
        }
    }
}