$font-family: 'Open Sans', sans-serif;
$border-radius: 4px;

$primary-color: #2b1d58;
$secondary-color: #3B19A8;

$button-green-color: #34e199;
$button-red-color: #f44d7c;
$button-blue-color: #4c7df0;
$button-yellow-color: #ffd31f;