* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: $primary-color;
    overflow: hidden;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.is-hidden {
    display: none !important;
}